.tooltip_card_wrap {
    width: 33.33%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}

.tooltip_card {
    /* height: 100%; */
    width: 100%;
    border: 1px solid #e8e4e4;
    border: 1px solid #e0e4e7;
    border-radius: 14px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .08);
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.body,
.totalValue {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.totalValue {
    padding-top: 8px;
    border-top: 2px solid #e0e4e7;
    margin-top: 8px;
}

.body div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(240deg 3.55% 68.13%);
}

.body .color {
    display: block;
    width: 5px;
    height: 15px;
    background-color: red;
    border-radius: 5px;
}

.body .square {
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 4px;
}

.square.blue,
.color.blue {
    background-color: #06b6d4;
}

.value {
    color: #000;
}